@import "../../styles/variables";
@import "../../styles/__breakpoints";


.desktop__header {

    &--container {
        display: flex;
        width: 100%;

    }
}

.desktop__navigation {
    &--container {
        display: flex;
        width: 100%;
        justify-content: space-between;

        div {
            display: flex;
            border: .1em solid white;
            width: 100%;
            justify-content: space-around;
            align-items: center;

            li {
                list-style-type: none;
            }
        }

    }
}

.activeLink {
    color: $primary_color;
    text-decoration: underline;
    text-decoration-color: $primary_color;
    // text-decoration-line: double;
}